---
console.log('¡frontsigner!');
---
<!-- El código de abajo es "la plantilla de su componente". Es solo HTML
     con un poco de magia que te ayudará a crear la plantilla del componente. -->
<html>
  <body>
    <h1>frontsigner</h1>
  </body>
</html>